/* Features List
-----------------------------------------------------------------------------*/

.features-list-wrap{
	margin: 85px 0 95px;
}

.features-list{
	padding: 0;
	margin: 0;
	list-style: none;
}

.features-list__item{
	vertical-align: top;
	position: relative;
	display: inline-block;
	padding: 4px 10px 4px 65px;
	margin: 10px 0;
	width: 32%;
	@include box-sizing(border-box);
}

.features-list__icon{
	position: absolute;
	left: 0;
	top: 0;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background: #965986;

	&:after{
		content: '';
		position: absolute;
		left: 11px;
		top: 9px;
		width: 24px;
		height: 25px;
		background: url(../img/sprite.png) 0 0 no-repeat;
	}
}

.features-list__title{
	font-family: $elp_bold;
	font-size: 19px;
	line-height: 1.2;
	color: #282828;
	margin: 0;
	padding: 0;
}

.features-list__desc{
	font-size: 15px;
	line-height: 1.3;
	color: #999999;
	margin: 0;
	padding: 0;
}