$elp_reg: 'elektra_light_pro_regular', Arial, Helvetica, sans-serif;
$elp_bold: 'elektra_light_pro_bold', Arial, Helvetica, sans-serif;
$elp_italic: 'elektra_light_proitalic', Arial, Helvetica, sans-serif;